/* font */

@font-face {
  font-family: "arabicFont";
  src: url("arabicfont.ttf");
}

body {
  margin: 0;
  background-color: #fbf9f1;
  overflow-x: hidden;
}

/* HEADER BEGINNING!!! */

header {
  background-color: #ffe7c1;
  width: 100vw;
  height: 60px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 50;
}

a {
  text-decoration: none;
}

.header-text a {
  margin: 0;
  color: #3d3b40;
  font-weight: 400;
  cursor: pointer;
}

nav {
  height: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
}

.nav-links a {
  text-decoration: none;
  color: #3d3b40;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  transition: 0.2s;
}

.nav-links a:hover {
  background-color: #fbf9f1;
}

/* HEADER END!!! */

/* *********************************************************************************************************** */

/* CONTAINER BEGINNING!!! */

.container {
  padding: 20px;
  width: 80%;
  max-width: 800px;
  margin: auto;
  font-family: Roboto;
  color: #3d3b40;
  margin-top: 30px;
}

.kutub-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
}

.kutub-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-height: 170px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.kutub-grid-item:hover {
  background-color: #ffe7c1;
  transform: scale(1.1);
  box-shadow: #2d3250 0 0 0 3px;
}

.kutub-title {
  font-size: 17px;
  margin: 0;
  text-align: center;
  background-color: #e2e2e2;
  width: fit-content;
  padding: 10px;
  border-radius: 20px;
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px;
}

.kutub-grid-item:hover .kutub-title {
  background-color: #2d3250;
  color: white;
}

.kutub-info-grid {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 13px;
  margin-top: 20px;
  gap: 10px;
}

@media only screen and (max-width: 440px) {
  .kutub-grid-container {
    grid-template-columns: auto;
  }

  .header-text {
    font-size: 1em;
  }
}

@media only screen and (min-width: 440px) {
  .kutub-grid-container {
    grid-template-columns: auto auto;
  }

  .header-text {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 750px) {
  .kutub-grid-container {
    grid-template-columns: auto auto auto;
  }

  .header-text {
    font-size: 2em;
  }
}
